@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar (optional & subtle) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(99,102,241,0.9); /* indigo-500 */
  border-radius: 999px;
}